#one{
    background-color: greenyellow;
    text-align: center;
}
.img{
    width: 200px;
}

#two{
    background-color: lightcoral;
}

#three{
    height: 400px;
}
#four{
    background-color: mediumspringgreen;
}

